html, body
  font-family "Helvetic Neue", Helvetica, Arial
  font-size 16px
  background #eee
  margin 0

.table
  background #fff
  cellspacing 0
  border-collapse collapse
  margin 20px
  box-shadow 0 1px 1px rgba(0, 0, 0, 0.15)
  font-size 14px
  th, td
    padding 9px 12px

  th
    border-bottom 3px solid #eee

  tr:nth-child(even)
    td
      background #fff9df

